.body {
    background-color: #C1CDD2
}
.header {
text-align: left;
background: #205873;
color: white;
font-size: 30;
width: 1440;
height: 131;
flex-shrink: 0;    
border-bottom: 1 solid #000000;
box-shadow: 0 8 10 0 #000000;
}
