body {
    background-color: #C1CDD2
}
header {
padding: 60;
text-align: left;
background: #205873;
color: white;
font-size: 30;
width: 1440;
height: 131;
flex-shrink: 0;    
border-bottom: 1 solid rgba(32, 88, 115, 0.70);
box-shadow: 0 8 10 0 rgba(0, 0, 0, 0.25);
}
